@if (message().isDeleted) {
  <ng-container>消息已删除</ng-container>
} @else if (message().messageType === MessageType.system) {
  @if (message().sender; as sender) {
    <ng-container>{{ sender.name ?? '用户 ' + sender.uid }}</ng-container>
  } @else {
    <ng-container>有人</ng-container>
  }
  @switch (systemMessage()?.kind) {
    @case (SystemMessageKind.Joined) {
      加入了群
    }
    @case (SystemMessageKind.Left) {
      退出了群
    }
    @case (SystemMessageKind.Added) {
      邀请了 {{ systemMessage()?.target }} 加入群
    }
    @case (SystemMessageKind.Removed) {
      将 {{ systemMessage()?.target }} 移出了群
    }
    @case (SystemMessageKind.Pinned) {
      置顶了一条消息
    }
    @case (SystemMessageKind.Unpinned) {
      取消了一条消息的置顶
    }
    @case (SystemMessageKind.ThreadPinned) {
      在话题中置顶了一条消息
    }
    @case (SystemMessageKind.ThreadUnpinned) {
      取消了话题中一条消息的置顶
    }
    @default {
      {{ message().message }}
    }
  }
} @else if (message().messageType === MessageType.invite) {
  <ng-container>[邀请]</ng-container>
} @else if (message().message?.trim()) {
  <app-message-text [text]="message().message!" [mentions]="message().mentions ?? []" [interactive]="false" />
} @else {
  @switch (message().messageType) {
    @case (MessageType.sticker) {
      <ng-container>[表情]</ng-container>
    }
    @case (MessageType.audio) {
      <ng-container>[语音]</ng-container>
    }
    @case (MessageType.file) {
      <ng-container>[文件]</ng-container>
    }
    @default {
      @switch (media()) {
        @case (MediaKind.Image) {
          <ng-container>[图片]</ng-container>
        }
        @case (MediaKind.Video) {
          <ng-container>[视频]</ng-container>
        }
        @default {
          <ng-container>[非文本消息]</ng-container>
        }
      }
    }
  }
}
