@if (!complete()) {
  <p class="ion-padding-horizontal">仅显示已加载消息中的参与者</p>
}
<ion-list>
  @for (user of participants(); track user.uid) {
    <ion-item [button]="true" [detail]="false" [routerLink]="['/profile', user.uid]">
      <app-chat-avatar
        slot="start"
        [size]="40"
        [entry]="{ avatar: user.avatarUrl, title: user.name ?? user.uid.toString() }" />
      <ion-label>{{ user.name || user.uid }}</ion-label>
    </ion-item>
  } @empty {
    <p class="ion-padding ion-text-center">暂无参与者信息</p>
  }
</ion-list>
