ion-split-pane {
  --side-width: 384px;
  --side-min-width: 384px;
  --side-max-width: 384px;
}

ion-content {
  --background: var(
    --ion-toolbar-background,
    var(--ion-color-step-50, var(--ion-background-color-step-50, #f7f7f7))
  );
}

.loading-status {
  height: 100%;
  display: grid;
  place-items: center;
}
