.buttonRow {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socialActions {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.singleButton {
  flex: 1 1 90%;
}

.splitButton {
  flex: 1 1 48%;
}
