@for (reaction of reactions(); track reaction.emoji) {
  @if (preview()) {
    <span class="reaction" [class.reacted]="reaction.reactedByMe">
      <span class="emoji">{{ reaction.emoji }}</span>
      <span class="count">{{ reaction.count }}</span>
    </span>
  } @else {
    <button type="button" class="reaction" [class.reacted]="reaction.reactedByMe" (click)="react.emit(reaction.emoji)">
      <span class="emoji">{{ reaction.emoji }}</span>
      <span class="count">{{ reaction.count }}</span>
    </button>
  }
}
