ion-item {
  --min-height: 60px;

  &.selected ion-label p {
    color: inherit;
  }
}

ion-label h3 {
  font-weight: 500;
}

ion-label p {
  font-size: 13px;
}

ion-label ion-text {
  font-weight: 500;
}

ion-item:not(.selected) .meta > span {
  color: var(--ion-text-color-step-250, #404040);
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  font-size: 13px;
}

ion-item.selected app-chat-avatar {
  --avatar-badge-border: var(--ion-color-primary);
}
