<ion-avatar
  [class.placeholder]="!entry().avatar"
  [class.icon-avatar]="!!entry().icon"
  [avatarColor]="entry().icon ? null : (entry().avatarName ?? entry().title ?? '')">
  @if (entry().icon; as icon) {
    <ion-icon [icon]="icon"></ion-icon>
  } @else if (entry().avatar; as src) {
    <img [src]="src" width="48" height="48" decoding="async" />
  } @else {
    {{ entry().avatarName ?? entry().title | avatarText }}
  }
</ion-avatar>
@if (entry().badgeIcon || entry().badgeAvatar || entry().badgeName) {
  <ion-avatar
    class="avatar-badge"
    [class.placeholder]="!entry().badgeAvatar"
    [class.icon-avatar]="!!entry().badgeIcon"
    [avatarColor]="entry().badgeIcon ? null : (entry().badgeName ?? '')">
    @if (entry().badgeIcon; as icon) {
      <ion-icon [icon]="icon"></ion-icon>
    } @else if (entry().badgeAvatar; as src) {
      <img [src]="src" width="26" height="26" decoding="async" />
    } @else {
      {{ entry().badgeName | avatarText }}
    }
  </ion-avatar>
}
